<div>
  <input type="text" placeholder="search..." [formControl]="control" />
  @for (genre of service.getGenres(); track genre) {
    <button (click)="showGenres(genre)">{{ genre }}</button>
  }
  @if (isLoading()) {
    <span>로딩 중...</span>
  }
  @for (movie of movies$ | async; track movie.id) {
    <div>
      <span (click)="showDetail(movie.id)">{{ movie.title }}</span>
    </div>
  }
  @if (selectedMovie$ | async; as movie) {
    <div>
      <span>{{ movie.title }} </span>
      <span>{{ movie.rating }} </span>
      <span>{{ movie.genre }} </span>
      <span>{{ movie.description }} </span>
    </div>
  }
</div>
